{
  "extends": [
    "airbnb/base",
    "plugin:prettier/recommended",
    "plugin:import/errors"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": ["babel", "prettier"],
  "rules": {
    "strict": [0, "global"],
    "func-names": [2, "never"],
    "global-require": 0,
    "func-style": [2, "expression", { "allowArrowFunctions": true }],
    "prettier/prettier": "error"
  }
}
